@font-face {
    font-family: Noto;
    src: url('/fonts/noto_mono/NotoMono_Regular.ttf');
}

.ht {
    width: 20rem;
    height: 100%;
    padding: 0.5rem 0.8rem 0rem 0rem;
    background-color: black;
    color: white;
    border-radius: 9px;
    margin: 0 auto;
    font-size: 17.2rem;
    font-family: Noto;
    letter-spacing: -1.5rem;
    text-align: center;
}

.text {
    width: 20rem;
    font-family: Noto;
    font-size: 1.5rem;
    color: black;
    margin: auto;
    text-align: center;
}