.ht {
    width: 20rem;
    height: 100%;
    padding: 0.8rem;
    background-color: black;
    font-family: noto mono;
    color: white;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 14rem;
    text-align: center;
}

.text {
    width: 300px;
    font-family: monospace;
    color: black;
    margin: auto;
}